.notes-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-itxt{
    margin-bottom: auto;
    margin-top: auto;
}
.create-note{
    position: absolute;
    top: 25%;
    left: 35%;
}